[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wpilib = {extras = ["all"]}
robotpy = "2024.2.1.1"
robotpy-rev = "2024.2.0"
robotpy-ctre = "2024.1.1"
robotpy-navx = "2024.1.0"
robotpy-commands-v2 = "2024.2.1"

[dev-packages]

[requires]
python_version = "3.11"
