#nt-table {
    & > * {
        font-size: 0.9rem !important;
        line-height: 1.5rem;
    }
    .nt-div-container {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 3px solid #504945;
    }

    .nt-div {
        position: relative;
        border-top: 1px solid #504945;

        &.disabled > .nt-div-container {
            display: none;
        }

        &.disabled::before {
            content: "";
            position: absolute;
            padding-left: 2px;
            color: #a89984;
        }

        &:not(.disabled)::before {
            content: "";
            position: absolute;
            padding-left: 2px;
            color: #a89984;
        }

        .nt-title {
            padding-left: 20px;
        }
    }

    .nt-item {
        display: flex;
        flex-direction: row;
        justify-content: stretch;

        &:first-of-type > .nt-key {
            border-radius: 0.5rem 0 0 0;
        }

        .nt-key {
            flex: 1;
            background-color: #3c3836;
            padding-left: 0.5rem;
        }

        .nt-value {
            flex: 3;
            background-color: #3c3836;
            padding-left: 0.5rem;
        }
    }
}
