@font-face {
    font-family: "FiraCode Nerd Font";
    src: url("asset/FiraCodeNerdFontPropo-Retina.ttf") format("truetype");
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    transform-origin: center;
    // transform: scale(0.65) rotate(30deg);
}

* {
    font-family: "FiraCode Nerd Font";
    color: #ebdbb2;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #282828;
}

.cameras {
    background: #1d2021;
}

#nt-table {
    .table-info {
        display: flex;
        flex-direction: row;
        .table-label {
            flex: 1;
        }
        .table-area {
            flex: 2;
        }
    }
}

main {
    height: 100%;
    overflow-y: scroll;
    background: #ff0000;
    margin: 0.5rem;
    padding: 0.5rem;
}

.swerve {
    width: 320px;
    height: 320px;
    background: #3c3836;
    position: relative;

    &-actual,
    &-desired {
        width: 320px;
        height: 320px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-desired {
        position: absolute;
        top: 0;
        left: 0;
    }

    &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wheel {
        height: 120px;
        width: 120px;
    }
}
