@font-face {
    font-family: "FiraCode Nerd Font";
    src: url("asset/FiraCodeNerdFontPropo-Retina.ttf") format("truetype");
}

@import "./nt.scss";

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 528px;
    width: 1366px;
}

html {
    transform-origin: center;
    // transform: scale(0.65) rotate(30deg);
    background-color: black;
}

* {
    font-family: "FiraCode Nerd Font";
    color: #ebdbb2;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #282828;
    height: 100%;
    overflow-y: scroll;
}

main {
    display: grid;
    grid-template: 240px auto / 320px 320px 240px auto;
    grid-template-areas:
        "cam cam swerve ."
        "menu menu menu menu";
}

#fieldrelative {
    grid-area: 1 / 4 / 1 / 5;
    background-color: #1d2021;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fieldrelative.active {
    background-color: #458588;
}

#fieldrelative .text {
    flex: 1;
    display: inline;
    text-align: center;
}

#fieldrelative .indicator {
    width: 2rem;
    display: inline;
    text-align: center;
}

.swerve {
    grid-area: swerve;
    background: #3c3836;
    position: relative;

    &-actual,
    &-desired {
        width: 240px;
        height: 240px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-desired {
        position: absolute;
        top: 0;
        left: 0;
    }

    &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wheel {
        height: 80px;
        width: 80px;
    }
}

#camera {
    grid-area: cam;
    background-image: url("./asset/doh.png");
    width: 100%;
    height: 100%;
}
