@font-face {
    font-family: "FiraCode Nerd Font";
    src: url("asset/FiraCodeNerdFontPropo-Retina.ttf") format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 528px;
    width: 1366px;
}

html {
    transform-origin: center;
    // transform: scale(0.65) rotate(30deg);
    background-color: black;
}

* {
    font-family: "FiraCode Nerd Font";
    color: #ebdbb2;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #282828;
    height: 100%;
    overflow-y: scroll;
}

main {
    display: grid;
    grid-template:
        240px auto / 240px 320px 320px auto
}

#nt-table {
    &> * {
        font-size: .9rem !important;
        line-height: 1.5rem;
    }
    .nt-div-container {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 3px solid #504945;
    }

    .nt-div {
        position: relative;
        border-top: 1px solid #504945;

        &.disabled > .nt-div-container {
            display: none;
        }

        &.disabled::before {
            content: "";
            position: absolute;
            padding-left: 2px;
            color: #a89984;
        }

        &:not(.disabled)::before {
            content: "";
            position: absolute;
            padding-left: 2px;
            color: #a89984;
        }

        .nt-title {
            padding-left: 20px;
        }
    }

    .nt-item {
        display: flex;
        flex-direction: row;
        justify-content: stretch;

        &:first-of-type > .nt-key {
            border-radius: .5rem 0 0 0;
        }

        .nt-key {
            flex: 1;
            background-color: #3c3836;
            padding-left: .5rem;
        }

        .nt-value {
            flex: 3;
            background-color: #3c3836;
            padding-left: .5rem;
        }
    }
}

.swerve {
    width: 240px;
    height: 240px;
    background: #3c3836;
    position: relative;

    &-actual,
    &-desired {
        width: 240px;
        height: 240px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-desired {
        position: absolute;
        top: 0;
        left: 0;
    }

    &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wheel {
        height: 80px;
        width: 80px;
    }
}
